<div id="news">
  <ul class="nav nav-tabs" id="news__myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="Film24h-tab"
        data-toggle="tab"
        href="#Film24h"
        role="tab"
        aria-selected="true"
        >Điện Ảnh 24h</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="Review-tab"
        data-toggle="tab"
        href="#Review"
        role="tab"
        aria-selected="false"
        >Review</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="Promotion-tab"
        data-toggle="tab"
        href="#Promotion"
        role="tab"
        aria-selected="false"
        >Khuyến Mãi</a
      >
    </li>
  </ul>
  <div class="tab-content" id="news__TabContent">
    <div class="tab-pane fade show active" id="Film24h" role="tabpanel">
      <div class="row">
        <div class="col-6">
          <img
            src="../../../../assets/img/news_1.png"
            alt=""
            class="news__img"
          />
          <p class="news__title">
            Ấn định chắc nịch ngày khởi chiếu 16.04, Lý Hải tung clip Lật Mặt:
            48H đậm chất
          </p>
          <p class="news__description">
            Trước thềm khởi chiếu 16.04 này, Lý Hải bất ngờ tung clip rượt đuổi
            gay cấn thót tim fans hâm mộ
          </p>
          <div class="news__likeAndComment">
            <p><img src="../../../../assets/img/like.png" alt="" />1</p>
            <p><img src="../../../../assets/img/comment.png" alt="" /> 0</p>
          </div>
        </div>
        <div class="col-6">
          <img
            src="../../../../assets/img/news_2.png"
            alt=""
            class="news__img"
          />
          <p class="news__title">
            [MORTAL KOMBAT: CUỘC CHIẾN SINH TỬ] - GỌI TÊN NHỮNG PHIM ĐIỆN ẢNH
            NỔI TIẾNG ĐƯỢC CHUYỂN THỂ TỪ CÁC TỰA GAME ĐÌNH ĐÁM
          </p>
          <p class="news__description">
            Bên cạnh những kịch bản gốc mới mẻ và đầy bất ngờ, Hollywood cũng
            không thiếu những tác phẩm đình đám được chuyển thể từ tiểu thuyết,
            phim hoạt hình, hay thậm chí là cả trò chơi điện tử.
          </p>
          <div class="news__likeAndComment">
            <p class="news__like">
              <img src="../../../../assets/img/like.png" alt="" />0
            </p>
            <p><img src="../../../../assets/img/comment.png" alt="" /> 0</p>
          </div>
        </div>
      </div>

      <!-- Tin tức 3 cột bên dưới  -->
      <div class="row">
        <div class="col-4">
          <img
            src="../../../../assets/img/news_3.png"
            alt=""
            class="news__img"
          />
          <p class="news__title">
            PROMISING YOUNG WOMAN | Bông hồng nước Anh Carey Mulligan và màn trả
            thù đàn ông để đời
          </p>
          <p class="news__description">
            Đề cử giải Oscar danh giá vừa gọi tên Carey Mulligan ở hạng mục nữ
            chính xuất sắc nhất cho vai diễn "đẫm máu" nhất sự nghiệp của cô
            trong phim Promising Young Woman (tựa Việt: Cô Gái Trẻ Hứa Hẹn).
          </p>
          <div class="news__likeAndComment">
            <p><img src="../../../../assets/img/like.png" alt="" />1</p>
            <p><img src="../../../../assets/img/comment.png" alt="" /> 0</p>
          </div>
        </div>
        <div class="col-4">
          <img
            src="../../../../assets/img/news_4.png"
            alt=""
            class="news__img"
          />
          <p class="news__title">
            VỪA ĐẸP LẠI VỪA TÀI NĂNG, DÀN SAO NAM CỦA PHIM “BÀN TAY DIỆT QUỶ”
            ĐẢM BẢO ĐỐN TIM HỘI CHỊ EM
          </p>
          <p class="news__description">
            Quy tụ 3 nam tài tử vừa điển trai, vừa được đánh giá cao về năng lực
            diễn xuất là Park Seo Joon, Woo Do Hwan và Choi Woo Sik, tác phẩm
            kinh dị – hành động “Bàn Tay Diệt Quỷ” hứa hẹn sẽ làm cho hội chị em
            phải mê mẩn vào tháng tới.
          </p>
          <div class="news__likeAndComment">
            <p><img src="../../../../assets/img/like.png" alt="" />1</p>
            <p><img src="../../../../assets/img/comment.png" alt="" /> 0</p>
          </div>
        </div>
        <div class="col-4">
          <div class="new__miniNews">
            <img src="../../../../assets/img/news_6.jpg" alt="" />
            <p class="news__title">
              Khai trương rạp xịn giá ngon, chuẩn xì-tai Sài Gòn
            </p>
          </div>
          <div class="new__miniNews">
            <img src="../../../../assets/img/news_7.png" alt="" />
            <p class="news__title">
              “Bóc tem” tổ hợp giải trí mới toanh của giới Hà Thành
            </p>
          </div>
          <div class="new__miniNews">
            <img src="../../../../assets/img/news_8.png" alt="" />
            <p class="news__title">
              Tiệc Trăng Máu chính thức cán mốc 100 tỷ chỉ sau 2 tuần công chiếu
            </p>
          </div>
          <div class="new__miniNews">
            <img src="../../../../assets/img/news_9.jpg" alt="" />
            <p class="news__title">
              NGÔ THANH VÂN CHÍNH THỨC KHỞI ĐỘNG CUỘC THI THIẾT KẾ TRANG PHỤC
              CHO SIÊU ANH HÙNG ĐẦU TIÊN CỦA VIỆT NAM – VINAMAN
            </p>
          </div>
        </div>
      </div>

      <div class="news__btnSeeMore">
        <button class="btn">XEM THÊM</button>
      </div>
    </div>
    <div class="tab-pane fade" id="Review" role="tabpanel">2</div>
    <div class="tab-pane fade" id="Promotion" role="tabpanel">3</div>
  </div>
</div>
