  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý phim</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3 text-right">
         <button class="btn btn-success p-2">Thêm Phim</button>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" datatable [dtTrigger]="dtTrigger" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Mã phim</th>
                          <th>Tên Phim</th>
                          <th>Hình ảnh</th>
                          <th>Mã nhóm</th>
                          <th>Ngày khởi chiếu</th>
                          <th>Chức năng</th>
                      </tr>
                  </thead>
                  
                <tbody>
                    <tr *ngFor="let movie of movieList">
                        <td>{{movie.maPhim}}</td>
                        <td>{{movie.tenPhim}}</td>
                        <td  style="max-width: 230px;"><img src="{{movie.hinhAnh}}" class="w-100" alt="" ></td>
                        <td>{{movie.maNhom}}</td>
                        <td>{{movie.ngayKhoiChieu | date: "dd.MM.yyyy"}}</td>
                        <td class="d-flex justify-content-around" style="border-bottom: none;">
                            <button class="btn btn-success"><i class="fa fa-calendar-alt"></i></button>
                            <button class="btn btn-primary"><i class="fa fa-pen"></i></button>
                            <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>