@import "src/scss/index.scss";
#complexCinema {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  padding-top: 120px;
  .listParentCinemas {
    min-height: 705px;
    width: 92px;
    list-style: none;
    border: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 0;
    padding: 0;
    li {
      padding: 20px 0;
      position: relative;
      cursor: pointer;
      a {
        height: 90px;
        padding: 20px;
        img {
          width: 50px;
          opacity: 0.5;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: calc(100% - 40px);
          transform: translateX(-50%);
          border-bottom: 1px solid #fff;
          border-color: rgba(238, 238, 238, 0.88);
        }
      }
      a.active,
      a.activeFirst {
        img {
          opacity: 1;
        }
      }
      &:hover {
        a {
          img {
            opacity: 1;
          }
        }
      }
    }
  }
  .listCinemas {
    height: 705px;
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
    width: 30%;
    overflow-y: auto;
    .cinema {
      position: relative;
      padding: 20px;
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.5s;
      .cinema__name {
        font-size: 14px;
        font-weight: bold;
      }
      .cinema__address {
        font-size: 12px;
        color: #949494;
      }
      &:hover {
        opacity: 1;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        border-bottom: 1px solid #fff;
        border-color: rgba(238, 238, 238, 0.88);
      }
    }
    .cinema.active {
      opacity: 1;
    }
  }
  .listMovies {
    height: 705px;
    width: calc(100% - 30% - 92px);
    border: 1px solid #ebebec;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .movie__wrapMovie {
      padding: 20px;
      .movie__content {
        display: flex;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
        .movie__info {
          padding-left: 20px;
          flex-grow: 2;
          .movie__title {
            font-size: 14px;
            margin-bottom: 0;
          }
        }
      }

      .movie__showTimes {
        button {
          font-size: 18px;
          font-weight: 500;
          color: #108f3e;
          margin: 0 10px 10px 0;
          padding: 5px 0;
          transition: all 0.2s;

          background-color: rgba(246, 246, 246, 0.5);
          border-radius: 7px;
          border: 1px solid #e4e4e4;
          width: 100%;
          &:hover {
            color: $text-color-primary;
          }
        }
      }
    }
  }
}
