<div id="toolBox">
    <!-- nhớ dùng @ViewChild nhe  -->
    <div class="toolBox__content">
        <div class="toolBox__select toolBox__selectMovie">
            <select class="form-control">
              <option>Phim</option>
            </select>
        </div>
        <div class="toolBox__select toolBox__selectChild">
            <select class="form-control">
              <option>Rạp</option>
            </select>
        </div>
        <div class="toolBox__select toolBox__selectChild">
            <select class="form-control">
              <option>Ngày xem</option>
            </select>
        </div>
        <div class="toolBox__select toolBox__selectChild">
            <select class="form-control">
              <option>Xuất chiếu</option>
            </select>
        </div>
        <div class="toolBox__btnSubmit">
            <button class="btn btn-info" type="submit">MUA VÉ NGAY</button>
        </div>

    </div>

</div>