::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    font-size: 20px;
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }
 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 14px;
    color: white !important;
}
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }