<h2 class="text-center text-white">Đăng Ký</h2>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Tài Khoản</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Mật Khẩu</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Họ Tên</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Số điện thoại</mat-label>
    <input matInput />
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary">Đăng Ký</button>
</form>
