@import 'src/scss/index.scss';
#rightCheckOut{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    z-index: 3;
    width: 440px;
    height: 100%;
    .rightCheckOut__wrapContent{
        overflow-y: scroll;
        height: 100%;
        padding: 0 40px 100px;
        .total {
            position: relative;
            border-bottom: 1px dashed #e9e9e9;
            height: 80px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 36px;
            color: #44c020;
            .cash {
                width: 300px;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
            }
        }
        .fillInfoShowTime{
            border-bottom: 1px dashed #e9e9e9;
            padding-bottom: 12.5px;
            font-size: 16px;
            .movieName{
                margin: 0;
                font-weight: 600;
            }
            .contentcinema {
                margin-top: 5px;
                font-size: 14px;
            }
        }
        .selectedSeatList{
            border-bottom: 1px dashed #e9e9e9;
            padding-bottom: 12.5px;
            padding-top: 12.5px;
            margin-bottom: 12.5px;
        }

    }
    .btnCheckOut{
        
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 15px;
        height: 60px;
        cursor: pointer;
        font-size: 24px;
        text-align: center;
        color: #e9e9e9;
        border-color: transparent;
        background-image: linear-gradient(223deg,#b4ec51 0,#429321 100%);
    }
    .btnCheckOut.disabled{
        background-image: none;
        background-color: gray;
        cursor:not-allowed;
    }

}